<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 640px;
        height: 360px;
    }

    .max-w-2xl {
        max-width: 75rem;
    }
</style>
<div class="fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 flex items-center justify-center">
    <div class="modal-content bg-white w-full max-w-2xl p-8 rounded-lg shadow-lg">
        <div class="modal-body">
            <div id="export-container">
                <div id="export-template">
                    <ng-include src="'partials/ExportTemplate.html'"></ng-include>
                </div>
            </div>
        </div>
        <div class="modal-footer mt-4">
            <button 
                ng-click="draw()" 
                class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 
                focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 
                dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
            >
                Preview
            </button>
            <button 
                ng-click="exportToPNG()" 
                class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 
                focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 
                dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
            >
                Download
            </button>
            <button 
                class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 
                focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 
                dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
                ng-click="cancel()"
            >
                Cancel
            </button>
        </div>
    </div>
</div>
