<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 640px;
        height: 360px;
    }
</style>
<div class="modal-content">
    <div class="modal-body">
        <div id="export-container">
            <div id="export-template">
                <ng-include src="'partials/ExportTemplate.html'"></ng-include>
            </div>
        </div>  
    </div>
    <div class="modal-footer">
        <button ng-click="exportToPNG()" class="btn btn-primary mx-2">Download</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>

