<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 678px;
        height: 360px;
    }
</style>
<div class="fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-main bg-cover bg-fixed w-full max-w-3xl p-8 rounded-lg shadow-md" >
        <div class="text-center text-white">
            <h5 class="text-2xl font-semibold">{{ action === 'create' ? 'Create' : 'Edit' }} your keycap</h5>
        </div>
        <div class="max-h-[70vh] overflow-x-hidden overflow-y-auto px-2">
            <form class="mt-4">
                <div class="mb-4">
                    <label for="name" class="block text-sm font-medium text-white">Name</label>
                    <input type="text" class="mt-1 p-2 w-full border rounded-md" id="name" ng-model="keycap.name" aria-describedby="nameHelp">
                </div>
                <div class="mb-4">
                    <label for="fileUrl" class="block text-sm font-medium text-white">Image Link</label>
                    <input type="text" ng-model="myImage" class="mt-1 p-2 w-full border rounded-md" id="fileUrl" aria-describedby="fileUrlHelp">
                </div>
                <div class="mb-4">
                    <label for="fileInput" class="block text-sm font-medium text-white">Upload Image</label>
                    <input type="file" class="mt-1 p-2 w-full border rounded-md text-white" id="fileInput" aria-describedby="fileInputHelp">
                </div>
                <div class="mb-4">
                    <div class="cropArea">
                        <ui-cropper 
                            image="myImage" 
                            area-type="square"
                            result-image="myCroppedImage" 
                            init-max-area="true"
                            result-image-size='{w: 250,h: 250}'
                        ></ui-cropper>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="flex items-center justify-center">
                        <img ng-src="{{myCroppedImage}}" class="w-auto h-[200px] rounded-md">
                    </div>
                </div>
            </form>
        </div>
        <div class="flex justify-end mt-6">
            <button 
                class="text-white bg-[#3266e3] hover:bg-[#2557D6]/90 focus:ring-4 focus:ring-[#2557D6]/50 focus:outline-none 
                font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#2557D6]/50 me-2"
                ng-if="action === 'create'" 
                ng-click="create(keycap)"
            >
                Create
            </button>
            <button
                class="text-white bg-[#3266e3] hover:bg-[#2557D6]/90 focus:ring-4 focus:ring-[#2557D6]/50 focus:outline-none 
                font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#2557D6]/50 me-2" 
                ng-if="action === 'edit'" 
                ng-click="save(keycap)"
            >
                Save
            </button>
            <button 
                class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none 
                focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center 
                dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700" 
                ng-click="cancel()"
            >
                Cancel
            </button>
        </div>
    </div>
</div>


